*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login__container{
    background-image: url(../../assets/login-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.L_form__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 15em;
    
    height: 28em;
    background-color: rgba(290, 900, 500, 0.4);
    border-radius: 15px;
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__form > p{
    font-size: 2em;
    color: #000;
    font-weight: bold;
}
.info__div{
    font-size: 100%;
    padding-top: 1rem;
}

.info__div > label{
    color: rgb(34, 26, 26);
}

.info__div > input{
    width: 20em;
    padding: 9px 10px;
    border-radius: 10px;
    border: none;
}

.login__btn{
    width: 14em;
    margin: 10px;
    padding: 9px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(219, 92, 23);
    color: #fff;
    transition: 0.7s;
}
.login__btn:invalid{
    background-color: blueviolet;
    color: white;
}

.login__btn:hover{
    width: 14em;
    margin: 10px;
    padding: 9px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    color: rgb(219, 92, 23);
}